.cart-dropdown {
  position: absolute;
  width: 240px;
  height: fit-content;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
}

.cart-dropdown .cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 15px;
}

.cart-dropdown button {
  margin-top: auto;
}

.no-item-in-cart {
  height: 65px;
}

.empty-message {
  font-size: 18px;
  margin: 0px auto;
}
